@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    width: auto;
    height: auto;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Medium.otf') format('otf'),
    url('/fonts/AvenirLTStd-Medium.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
src: url('/fonts/AvenirLTStd-Medium.otf') format('otf'),
    url('/fonts/AvenirLTStd-Medium.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

body {
  @apply font-avenir;
} */

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Avenir';
}
img{
  width: auto;
}

/* since nested groupes are not supported we have to use 
     regular css for the nested dropdowns 
  */
li>ul {
  transform: translatex(100%) scale(0)
}

li:hover>ul {
  transform: translatex(101%) scale(1)
}

li>button svg {
  transform: rotate(-90deg)
}

li:hover>button svg {
  transform: rotate(-270deg)
}
.white-fill {
  fill: white;
}
 .logo {
  width: 150px;
  height: auto;
}
/* Below styles fake what can be achieved with the tailwind config
     you need to add the group-hover variant to scale and define your custom
     min width style.
  	 See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
  	 for implementation with config file
  */
.group:hover .group-hover\:scale-100 {
  transform: scale(1)
}

.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg)
}

.scale-0 {
  transform: scale(0)
}

.min-w-32 {
  min-width: 8rem
}

.feedback .slick-dots
{
      bottom: 30px;
}
.feedback .slick-dots li.slick-active button:before {
  color:"#FCA5A5"  !important
}
.feedback .slick-dots li button:before {
  font-size: 15px;
  color: white !important;
}

.feedback .slick-next {
  right: 50px !important;
}
.feedback .slick-prev {
  left: 50px !important;
}
.feedback .slick-next:before,
.slick-prev:before {
  font-size: 40px !important;
}

@media only screen and (max-width: 767px) {
  /* Your mobile-specific styles go here */
  .feedback .slick-dots {
      bottom: 10px;
    }
        .feedback .slick-next:before,
        .slick-prev:before {
          font-size: 20px !important;
        }
                .feedback .slick-next {
                  right: 10px !important;
                }
        
                .feedback .slick-prev {
                  left: 10px !important;
                }
}