@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Medium.otf') format('otf'),
    url('/fonts/AvenirLTStd-Medium.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
src: url('/fonts/AvenirLTStd-Medium.otf') format('otf'),
    url('/fonts/AvenirLTStd-Medium.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

body {
  @apply font-avenir;
} */

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Avenir';
}