@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    /* width: auto; */
    height: auto;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* @font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirLTStd-Medium.otf') format('otf'),
    url('/fonts/AvenirLTStd-Medium.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
src: url('/fonts/AvenirLTStd-Medium.otf') format('otf'),
    url('/fonts/AvenirLTStd-Medium.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}

body {
  @apply font-avenir;
} */

@font-face {
  font-family: "Avenir";
    src: url("/fonts/AvenirLTStd-Heavy.otf") format("opentype");
  font-weight:800;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-light";
  src: url("/fonts/AvenirLTStd-Light.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Avenir";
}
p{
  font-family: "Avenir-light" ;
}
.font-light{
    font-family: "Avenir-light";
}
img {
  /* width: auto; */
}

/* since nested groupes are not supported we have to use 
     regular css for the nested dropdowns 
  */
li > ul {
  transform: translatex(100%) scale(0);
}

li:hover > ul {
  transform: translatex(101%) scale(1);
}

li > button svg {
  transform: rotate(-90deg);
}

li:hover > button svg {
  transform: rotate(-270deg);
}
.white-fill {
  fill: white;
}
.logo {
  width: 150px;
  height: auto;
}
/* Below styles fake what can be achieved with the tailwind config
     you need to add the group-hover variant to scale and define your custom
     min width style.
  	 See https://codesandbox.io/s/tailwindcss-multilevel-dropdown-y91j7?file=/index.html
  	 for implementation with config file
  */
.group:hover .group-hover\:scale-100 {
  transform: scale(1);
}

.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg);
}

.scale-0 {
  transform: scale(0);
}

.min-w-32 {
  min-width: 8rem;
}

/* .feedback .slick-dots {
  bottom: 30px;
} */
.feedback .slick-dots li.slick-active button:before {
  color: "#FCA5A5" !important;
}
.feedback .slick-dots li button:before {
  font-size: 15px;
  color: white !important;
}

.feedback .slick-next {
  right: 20px !important;
}
.feedback .slick-prev {
  left: -0px !important;
  z-index: 500;
}
.feedback .slick-next:before,
.slick-prev:before {
  font-size: 40px !important;
}

.feedback .slick-dots {
  bottom: -55px !important;
}
.main-logos{
  .slick-dots {
      bottom: -55px !important;
    }
}

/* .our-customer{

  .slider-container .slick-dots li {
    display: none;
  }
  
  .slider-container .slick-dots li:nth-child(-n+0) {
    display: inline-block;
  }
  
  .slider-container .slick-dots li button::before {
    font-size: 12px;
    color: #333;
  }
  
  .slider-container .slick-dots li.slick-active button::before {
    color: #000;
  }
    .slick-dots li.slick-active button:before {
      color: red !important;
    }
} */
/* form start */
.contact-form {
  .intl-tel-input input {
    width: 100%;
    padding: 15px;
    /* margin-bottom: 15px !importan; */
    /* margin-bottom: 15px; */
    border: 1px solid #d0d5dd;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
  }

  .intl-tel-input input:focus {
    outline: none;
    border-color: #00aaff;
    box-shadow: 0 0 5px rgba(0, 170, 255, 0.5);
  }

  .selected-dial-code {
    padding-left: 5px !important;
  }
  .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-4 .selected-flag {
    color: black;
    background-color: transparent;
  }

  .selected-flag {
    display: flex !important;
    color: black;
  }
     .intl-tel-input .country-list {
       color: black;
       z-index: 1000 !important;
       /* max-height: 300px !important;
     position: absolute !important; */
     }
  input,
  select,
  textarea {
    /* width: 100%; */
    padding: 15px;
    /* margin-bottom: 15px; */
    border: 1px solid #d0d5dd;
    border-radius: 6px;
    font-size: 16px;
    color: #333;
  }

  input:focus,
  select:focus {
    outline: none;
    border-color: #00aaff;
    box-shadow: 0 0 5px rgba(0, 170, 255, 0.5);
  }

  /* form button {
          width: 100%;
          padding: 12px  18px;
          border: none;
          cursor: pointer;
         
        } */

  button:hover {
    /* background-color: #bf8c1c; */
  }

  /* select {
          width: 60px;
          display: inline-block;
          margin-right: 10px;
        } */
}
/* form end */

.about {
  .slick-next,
  .slick-prev {
    border-radius: "100%" !important;
    height: 40px !important;
    width: 40px !important;
  }
  .slick-next {
    right: -70px !important;
  }
  .slick-prev {
    left: -70px !important;
  }
}
.golden-patern {
  .test {
  }

  /* .slick-next:before,
    .slick-prev:before{
      line-height: 0px !important;
    } */

  .custom-next-arrow,
  .custom-prev-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
  }

  .custom-next-arrow {
    right: -25px;
  }

  .custom-prev-arrow {
    left: -25px;
  }
}

.slider-logos-arrow {

  .slick-next:before, .slick-prev:before{
    display: none !important;
    color: red;
  }

  .slick-next{
      border-radius: "100%" !important;
      /* height: 50px !important;
      width: 50px !important; */
      text-align: end;
    }
  .slick-prev{
    border-radius: "100%" !important;
    height: 50px !important;
    width: 50px !important;
  }

  .slick-next {
    right: -50px !important;
  }

  .slick-prev{
    left: -50px !important;
   
  }
         /* .custom-next-arrow,
         .custom-prev-arrow {
           position: absolute;
           top: 50%;
           transform: translateY(-50%);
           cursor: pointer;
           z-index: 1;
         }
    
         .custom-next-arrow {
           right: -25px;
         }
    
         .custom-prev-arrow {
           left: -25px;
         } */
}
/* HoverEffect.module.css */

.container1 {
  display: flex;
  gap: 10px;
  /* height: 400px; */
}

.section {
  flex: 1;
  transition:  0.5s ease;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.section:hover {
  flex: 3;
}

.container:hover .section {
  flex: 0.5;
}

.container:hover .section:hover {
  flex: 3;
}

@keyframes fadeInStep {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/* //mobile */

.mobile-scroll-categories{
  .test{


  }

    .slider-container {
      position: relative;
      overflow: hidden;
    }
  
    .slide {
      transition: opacity 2s ease, transform 2s ease-in-out;
    }
}

    .intl-tel-input .country-list {
      color: black;
      z-index: 100000000!important;
      /* max-height: 300px !important;
         position: absolute !important; */
    }
@media only screen and (max-width: 767px) {
  /* Your mobile-specific styles go here */
  .intl-tel-input .country-list {
      color: black;
      z-index: 2000 !important;
      max-height: 500px !important;
      margin-top: 200px !important;
      /* max-height: 300px !important;
       position: absolute !important; */
    }
  .feedback .slick-dots {
    bottom: 10px;
  }
  .feedback .slick-next:before,
  .slick-prev:before {
    font-size: 20px !important;
  }
  .feedback .slick-next {
    right: 10px !important;
  }

  .feedback .slick-prev {
    left: 10px !important;
  }

  .about {
    .slick-next {
      right: 0px !important;
    }
  }
    .slider-logos-arrow{
      .slick-next {
          right: -12px !important;
          z-index: 100;
        }
      
        .slick-prev {
          left: -20px !important;
          margin-top: 15px !important;
          z-index: 100;
      
        }
    }
}
